.form-row
  .form-row-container.active
    .form-cell= f.collection_select(:steel_type_id, SteelType.all, :id, :steel_type, { include_blank: 'Tipo' }, { required: true, class: 'form-control' })

    .form-cell= f.grouped_collection_select(:steel_grade_id, SteelType.all, :steel_grade_options, :steel_type, :id, :grade, { include_blank: 'Grado composicion' }, required: true, class: 'steel-selection form-control')

    .form-cell= f.grouped_collection_select(:steel_width_id, SteelType.all, :steel_width_options, :steel_type, :id, :width, { include_blank: 'Diametro mm' }, required: true, class: 'steel-selection form-control')

    .form-cell= f.collection_select(:steel_finish_id, SteelFinish.all, :id, :finish, { include_blank: 'Acabado' }, required: true, class: 'steel-selection form-control')

    .form-cell.price-cell
      %span.price-kg
        = (@item && @item.price_kg > 0) ? number_to_currency(@item.price_kg) : number_to_currency(0)

    .form-cell= f.number_field :volume, required: true, min: 100, class: 'steel-selection form-control', placeholder: 'Enter kg'

    .form-cell.price-cell
      Bla bla bal
    .form-cell.icon-cell
