%h1 Soldadura en acero inoxidable de alta calidad, directo de la India, para todo tamaño de distribuidor, en toda América Latina.

%h2 Nuestro objetivo es crecer su negocio, proveendo productos TIG, MIG y SAW para pedidos a partir de 1 tonelada, a los mejores precios del mercado.

%p Ingrese aqui para ver nuestros precios y condiciones de venta

%p Entre en contacto con nosotros directamente por email:

= form_for @contact do |f|
  %div.field
  = f.label :name
  = f.text_field :name, required: true
  %div.field
  = f.label :empresa
  = f.text_field :company, required: true
  %div.field
  = f.label :email
  = f.email_field :email, required: true
  %div.field
  = f.label :phone_num
  = f.text_field :phone_num
  %div.field
  = f.label :mensaje
  = f.text_field :message
  %div.field
  = label_tag 'Please call me'
  = check_box_tag :request_call
  %div.action
  = f.submit :Submit

  %p= notice
