.form-container
  .form-row.form-header
    .form-row-container
      .form-cell.half-row
      .form-cell Precio <small>/kg</small>
      .form-cell Volumen <small>kgs</small>
      .form-cell Costo <small>USD</small>
      .form-cell.icon-cell
  .form-row
    = form_for @order, url: transport_choice_order_path(@order), html: { method: :post, remote: true, id: 'transport_choice_form', class: 'form-row-container' } do |f|

      .form-cell.half-row= f.collection_select(:transport_type, TransportType.select('DISTINCT transport_type'), :transport_type, :transport_type, { include_blank: 'Seleccione una opción' }, { required: true, onchange: ("$('#transport_choice_form').submit();"), class: 'form-control' })

      .form-cell
        %span#transport_cost_kg= @order.total_volume >= 1000 ? number_to_currency(@order.transport_per_kg) : '$ ___'

      .form-cell= @order.total_volume

      .form-cell
        %span#transport_cost= @order.total_volume >= 1000 ? number_to_currency(@order.cost_transport) : 'Inválido: volumen mínimo de 1000kg por pedido'

      .form-cell.icon-cell
%br
.row
  .col-md-4
    = form_for @order, url: update_comment_order_path(@order), html: { method: :post, remote: true, id: 'update_comment_form' } do |f|
      = f.text_area :comment, { rows: 2, class: 'form-control comment-input', placeholder: 'Comentarios', onchange: ("$('#update_comment_form').submit();") }
  .col-md-4
  .col-md-4
    .row
      .col-md-6
        %h4 Precio total
      .col-md-6
        %h4#total_cost= number_to_currency(@order.cost_total)
    .row
      .col-md-12
        Estimación pendiente confirmación
