= form_for @quote, url: {action: "add_item", controller: "quotes"} do |f|
  = render partial: "/quotes/quote_form", :locals => { :f=>f }
  = f.hidden_field :order_id, :value => @order.id 

  = f.submit 'Add item to order'


= form_for(@order, url: order_path(@order), html: {method: :put}) do |f| 
  = f.label :comment
  = f.text_field :comment
  = f.submit 'Update comment'

= render @order.items
= render @order

%p
  = link_to 'Save quote', order_path(@order), method: :put
  = link_to 'Cancel quote', order_path(@order), method: :delete

%p
  = link_to 'Request quote', order_path(@order, status: 'Requested'), method: :put


