%h1 Crear cotización
%h3 Sus artículos

= form_for @quote, url: {action: 'add_item', controller: 'quotes'}, html: {class: 'new_quote form-container'} do |f|
  = render "order_form_table_header"
  = render @order.items
  = render partial: '/quotes/quote_form', :locals => { :f=>f }
  = f.hidden_field :order_id, value: @order.id
  = f.submit 'ADICIONAR', class: 'btn btn-primary item-submit', id: 'add_item'

%h3 Condición de entrega
#order_details= render @order
.row
  .col-md-4
    = form_for @order, url: print_label_order_path(@order), html: { method: :post, remote: true, id: 'print_label_form' } do |f|
      .form-group
        .checkbox-inline
          = f.check_box :print_label, id: 'print_label', onchange: ("$('#print_label_form').submit();")
          = f.label :print_label, "Por favor seleccione aquí si le gustaría tener más información sobre impresión de cajas con marca propia"
  .col-md-4
  .col-md-4
    #order_submit_container= render partial: 'order_submit'
    = link_to 'Reset', reset_order_path(@order), method: :post, class: 'btn btn-primary item-submit btn-cancel'
    <br>
.row
