%h1 Crear cotizacion
%h3 Your items

= form_for @quote, url: {action: "add_item", controller: "quotes"}, html: {class: "new_quote form-container"} do |f|
  %div.form-row.form-header
    %div.form-row-container
      %div.form-cell Tipo
      %div.form-cell Grado composicion
      %div.form-cell Diametro <small>mm</small>
      %div.form-cell Acabado
      %div.form-cell Precio <small>/kg</small>
      %div.form-cell Volumen <small>kgs</small>
      %div.form-cell Costo <small>USD</small>
      %div.form-cell.icon-cell
  = render @order.items
  = render partial: "/quotes/quote_form", :locals => { :f=>f }
  = f.hidden_field :order_id, :value => @order.id
  = f.submit 'Add to order', class: 'btn btn-primary item-submit'

%h3 Transporte
%div#order_details=render @order
%div.row
  %div.col-md-4
  %div.col-md-4
  %div.col-md-4
    = link_to 'SOLICITAR CONFIRMACION', order_path(@order, status: 'Requested'), method: :put, class: 'btn btn-primary btn-block submit-order'
    Sin compromis de compra
    %br
    = link_to 'Cancel quote', order_path(@order), method: :delete, class: 'btn btn-primary item-submit btn-cancel'
    = link_to 'Save quote', order_path(@order), method: :put, class: 'btn btn-primary item-submit'
    <br>

%div.row
