%p
= div_for item do
  Steel type:
  = SteelType.find(item.steel_type_id).steel_type

  Steel grade
  = SteelGrade.find(item.steel_grade_id).grade

  Steel finish:
  = SteelFinish.find(item.steel_finish_id).finish

  Steel width:
  = SteelWidth.find(item.steel_width_id).width

  Price per kg:
  = number_to_currency(item.price_kg)

  Volume:
  = item.volume

  Cost:
  = number_to_currency(item.cost)

  = link_to 'Change item', edit_item_path(item)
  = link_to 'Delete item', item_path(item), method: :delete
