= form_for [@order, @item] do |f|
  = f.collection_select(:steel_type_id, SteelType.all, :id, :steel_type,{include_blank: 'Please select option'}, required: true)
  = f.collection_select(:steel_width_id, SteelWidth.all, :id, :width,{include_blank: 'Please select option'}, required: true)
  = f.collection_select(:steel_finish_id, SteelFinish.all, :id, :finish,{include_blank: 'Please selection option'}, required: true)
  = f.label :volume
  = f.number_field :volume, required: true, min: 1000
  = f.submit 'Add item to order'
