!!! 5
%html
  %head
    %body
      %h1 New contact form has been submitted
      %ul
        %li Name: #{@contact.name}
        %li Company: #{@contact.company}
        %li Email: #{@contact.email}
        %li Phone_num: #{@contact.phone_num}
        %li Message: #{@contact.message}
        %li Request call: #{@contact.request_call}
