<!DOCTYPE html>
<html>
<head>
  <title>Pland</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to "Inicio", home_index_path %>
  <%= link_to "Sobre nosotros", about_index_path %>
  <%= link_to "Productos", products_path %>
  <%= link_to "Contacto", contacts_path %>


<%= yield %>

</body>
</html>
